.Inventory{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-height: 200px;
    background: linear-gradient(180deg, #252525 0%, rgba(37, 37, 37, 0) 100%);
    box-shadow: 0px 0px 30px 2px #000000;
    border-radius: 10px;
}
.inventory-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 150px;
    margin:10px;
    background: #232322;
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.56);
    border-radius: 20px;
    ul{
        display: flex;
        justify-content: center;
    }
}
.window-inventory{
    display: flex;
    align-items: center;
}
.disassemble-congig-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-block{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   filter: brightness(30%);    
}
.active-btn{
    filter: brightness(100%);
    cursor: pointer;
   }